$font-family: Arial, Helvetica, sans-serif;

a {
  position: relative;
  z-index: 2;
  img {
    height: 40px;
    position: relative;
    z-index: 23;
    mix-blend-mode: difference;
  }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 900px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-first);
    margin: 0;
    .body{
      text-align: center;
      width: 70%;
      position: relative;
      z-index: 1;
      mix-blend-mode: difference;
      color: var(--color-text);
      pointer-events: none;
      h1 {
        font-weight: 700;
        font-size: clamp(36px, 6vw, 96px);
        margin: 0;
        padding: 0;
      }
      span {
        font-size: clamp(14px, 2vw, 36px);
      }

    }
    .links {
      position: relative;
      z-index: 2;
      width: calc(240px + 2vw);
      display: flex;              
      justify-content: space-between;     
      align-items: center;         
      flex-direction: row;     
      margin: 15px 0;   
      transition: transform 0.5s;
      a {
        width: calc(32px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
        height: calc(32px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
        &:hover {
          transform: scale(1.1);
          transition: transform 0.5s;
        }
        &:active {
          transform: scale(0.8);
          transition: transform 0.2s;
        }
        img {
          position: absolute;
          mix-blend-mode: difference;
          width: calc(32px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
          height: calc(32px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
          &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
          }
          &:active {
            transform: scale(0.8);
            transition: transform 0.2s;
          }
        }       
      }
      }
    .grid{
      display: flex;
      height: 100%;
      max-height: 900px;
      width: 100%;
      overflow: hidden;
      position: absolute;
      .column{
        width: 5vw;
        div{
          width: 100%;
          height: 5vw;
        }
      }
    }
  }

.social-icon-light,
.social-icon-dark {
  transition: opacity 0.3s ease;
}

.social-icon-light {
  opacity: 1;
}
.social-icon-dark {
  opacity: 0;
}

html.dark .social-icon-light {
  opacity: 0;
}

html.dark .social-icon-dark {
  opacity: 1;
}
