
.navMenu {
  display: flex;
  z-index: 99999;
  position: sticky;
  top: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 30px;
  padding: 20px;
  height: 50px;
  
}
.Link {
  font-family: 'Inter', sans-serif; 
  font-weight: 400; 
  color: var(--color-second); 
  text-decoration: none; 
  overflow: hidden;

  font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320))); 
  margin-left: calc(8px + (17) * ((100vw - 320px) / (1440 - 320)));
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-second);
    width: 0;
    transition: width 0.3s ease, left 0.3s ease;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}
.buttonLogo {
  display: block;
  background-image: url("../../public/svgFiles/logo.svg");
  width: calc(16px + (50 - 16) * ((100vw - 320px) / (1440 - 320)));
  height: calc(16px + (50 - 16) * ((100vw - 320px) / (1440 - 320)));
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  &:active {
    transform: scale(0.8);
    transition: transform 0.2s;
  }
}
.switchTheme {
  background-image: url("/public/svgFiles/dark-light.svg");
  width: calc(16px + (40 - 16) * ((100vw - 320px) / (1440 - 320)));
  height: calc(16px + (40 - 16) * ((100vw - 320px) / (1440 - 320)));
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  &:active {
    transform: scale(0.8);
    transition: transform 0.2s;
  }
}